.wrap {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.toolbar {
}
.filter {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 10px 3px 3px 3px;
}
.filter:hover {
  background-color: rgb(107, 107, 107);
  cursor: pointer;
  color: white;
}
.active {
  background-color: rgb(107, 107, 107);
  cursor: pointer;
  color: white;
}
.portfolioWrap {
  width: 50%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}

img {
  flex: 1 1 auto;
  margin: 10px 10px;
  width: 250px;
}
